<%- include('../header') %>
<h2>To add a new todo, <a href="/todos/add">click here.</a></h2>
<hr />
<h2>Hello <%= currentUser.username %>, see your list of todos below.</h2>
<table>
    <tr>
        <th>Todo</th>
        <th>Complete?</th>
        <th>Edit?</th>
        <th>Delete?</th>
    </tr>
    <% todos.forEach(todo => { %>
    <tr>
        <td><%= todo.todo %></td>
        <td><input type="checkbox" <% !todo.completed ? '' : 'checked' %> onchange="<%= `/todos/${todo._id}/update?_method=PUT` %>"></td>
        <td><a class="button" href="<%= `/todos/${todo._id}/edit` %>">Edit</a></td>
        <td><a class="button" href="<%= `/todos/${todo._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this todo?')">Delete</a></td>
    </tr>
    <% }) %>
</table>
<hr />
<button>Submit</button>
<%- include('../footer') %>
